<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card }}
    {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="300" src="images/main_image.png" />
        </div>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">TA Bank Rec MIS</h1>
            <p>Transfer Agent Reconciliation Management Information System, A final project created by the
            mind of Michael Kelly with a student number 20041540</p>
        </div>
    </div>
</div>